/*Projekti 1B kirjautumislomake CSS-osuus/ Paul Willman*/
@charset "utf-8";
*{
box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

body{
  font-size: 20px;
  max-width: 500px;
  width: 100%;
  margin: 50px auto;
  justify-content: center;
  background-color:#242582;
  color:yellow;
}

.content{
    background-image: linear-gradient(120deg, #004e92, #000428);
    padding: 15px;
    border: 4px solid #008000;
    border-radius: 15px;
}

h1{                                         /*Kaikki h1 otsikot saavat nämä tyylittely asetukset*/
  font-family: "Times New Roman";
  font-size: 40px;
  text-align: center;
  border-bottom: dotted 1px #4caf50;
  margin-bottom: 50px;
  padding: 40px;
}

h4{                                         /*Kaikki h4 otsikot ovat lihavoituja*/
  font-weight: bold;
}

textarea{                                   /*textarea:n tyylittely asetukset*/
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[type= "radio"]:checked + label {      /*valittu muuttuu punaiseksi*/
  color: red;
}

input[type= "checkbox"]:checked + label {   /*valittu muuttuu punaiseksi*/
  color: red;
}

input[type='submit']{                       /*submit nappulan tyylittely asetukset*/
  background: #4caf50;
  border: 0;
  color: black;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 15px;
}

input[type='submit']:hover{                 /*Kun siirrät cursorin submit nappulan päälle, muuta väriä*/
  background-color: #66ff99;
}
