/*Projekti 1A kirjautumislomake CSS-osuus/tämä on vielä kesken../ Eriko Korhonen*/
@charset "utf-8";
*,*::before, *::after{
  box-sizing: border-box;
}

body{
  max-width: 500px;
  width: 100%;
  margin: 50px 0;
  color: white;
  background-color:#6868c0;    /*Vaihdoin taustaväriä hieman vaaleammaksi, jotta pystyin kokeilemaan toimivuutta, AIEMPI VÄRI:#000033 - RIKU, vielä versio3 #000033-Eriko*/
  padding: 20px;
  border: 2px solid #008000;
  border-radius: 5px;
  /*background:url();
  background-size: cover;*/
}

h1{
  font-family: "Brush Script MT", cursive;
  font-size: 40px;
  border-bottom: dashed 1px #4caf50;
  margin-bottom: 50px;
  padding: 40px;
}

h4{
  font-weight: bold;
}

input[type='submit']{
  background: #4caf50;
  border: 0;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

input[type='submit']:hover{
  background-color: #66ff99;
}



